body {
	background: #ffcdf5;
	color: #332931;
	text-align: center;
}
img {
	  margin: 40px 0px 0px 0px;
      border-color: #997b93;
      border-radius: 20px;
}
.links {
      padding: 10px;
      background: rgba(0,0,0,0.5);
    }
