 body {
      text-align: center;
      color: #332931#ffcdf5;
  background-color: #ffcdf5;
    }
  
    h1 {
      font-size: 70px;
    }
    img {
      margin: 40px 0px 0px 0px;
      border: 40px #997b93;
      border-radius: 40px;
    }
    ul {
      padding: 10px;
      background: rgba(0,0,0,0.5);
    }
    article {
      max-width: 500px;
      padding: 20px;
      margin: 0 auto;
    }
    .links {
      display: inline;
      padding: 0px 10px 0px 10px;
     }
   .cheer {
      padding: 10px;
      background: rgba(0,0,0,0.5);
   }
    @media (max-width: 500px) {
      h1 {
        font-size: 36px;
        padding: 5px;
      }
      li {
        padding: 5px;
        display: block;
      }
 

